<div><a href="#" id="popupLink">Click Link</a></div>

<form action="#" method="post" id="h" class="aui top-label">
    <h2>AUI Inline Dialog</h2>
    <div class="field-group">
        <label for="h-fname">Input with class full-width-field</label>
        <input class="text full-width-field" type="text" id="h-fname" name="fname" title="first name">
    </div>
    <div class="field-group">
        <label for="h-lname">Another input with class full-width-field</label>
        <input class="text full-width-field" type="text" id="h-lname" name="lname" title="last name">
    </div>
    <div class="buttons-container">
        <div class="buttons">
            <input class="button submit" type="submit" value="Save" id="h-save-btn1">
            <a class="cancel" href="forms.html#">Cancel</a>
        </div>
    </div>
</form>