<div class="aui-tabs horizontal-tabs" id="tabs-example">
    <ul class="tabs-menu">
        <li class="menu-item active-tab">
            <a href="#tabs-example-first"><strong>Tab 1 - Active</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-example-second"><strong>Tab 2</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-example-third"><strong>Tab 3</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-example-fourth"><strong>Tab4</strong></a>
        </li>
    </ul>
    <div class="tabs-pane active-pane" id="tabs-example-first">
        <p> </p>
        <p>Put any HTML in here</p>

        <div class="aui-message hint shadowed closeable">
            <p class="title">
                <span class="aui-icon icon-hint "></span>
                <strong>Hint</strong>
            </p>
            <p>Try changing the <code>horizontal-tabs</code> class to <code>vertical-tabs</code></p>
        </div><!-- .aui-message -->   

    </div>
    <div class="tabs-pane" id="tabs-example-second">
        <h2>Hello World</h2>
    </div>
    <div class="tabs-pane" id="tabs-example-third">
        <h2>Hello Atlassian</h2>
    </div>
    <div class="tabs-pane" id="tabs-example-fourth">
        <p>Javascript is awesome</p>
    </div>
</div> <!-- // .aui-tabs -->