/* ----- Generic stuff ----- */
.hidden {
	display: none !important;
}

/* ----- End generic stuff ----- */

/* ----- Top header ----- */
.aui-header-logo-device {
	display: block;
	padding: 8px 0;
	background-image: url('../img/logo.png');
	text-indent: -9999px;
	width: 92px;
	background-size: 92px;
	background-position: 0 50%;
	background-repeat: no-repeat;
}

.aui-header .aui-button.aui-button-primary.aui-style {
	margin-left: 0;
}

.aui-nav .aui-lozenge {
	margin-top: 13px;
}

#header .right-toolbar {
    float: right;
}

#toggle-bar .right-toolbar {
    float: right;
    padding: 0 10px;
}

#toggle-bar {
	margin: 0;
}

#toggle-bar .aui-toolbar-2-inner {
	text-align: center;
}

#toggle-bar .aui-toolbar2-primary {
	float: none;
	display: inline-block;
}

/* ----- End Top header ----- */

/* ----- Second header ----- */

/* ----- End Second header ----- */

/* ----- Main content ----- */
#content .ace-editor {
	height: 100%;
	position: relative;	
}

#content {
	bottom: 0;
	left: 0;
	right: 0;
}

#content-container{
	position:absolute;
	width: 100%;
	height: 100%;
}

#content .stretch {
	position: absolute;
	top: 0;
	height: 100%;
	border-right: 1px solid #CCC;
}

#content .stretch h5 {
	padding-left: 10px;
}

#content .left-nav {
	left: 0;	
	width: 150px;
	overflow-x: hidden;	
}

#content .aui-page-panel-nav,
#content .aui-page-panel-nav ul,
#content .aui-page-panel-nav li header {
	border: none;
	padding-top: 1px; /*bit of a hack, but works*/
}

#content .preview-panel .section-header a.aui-button-link {
	float: right;
	margin-right: 10px;
}

#theme-switcher-link-leading .aui-icon {
	position: absolute;
	top: 3px;
	right: 5px;
	color: #999;
}

#theme-switcher-link-leading li a.active ~ .aui-icon{
	color: #fff;
}

#theme-switcher-link-leading li {
	position: relative;
}

.splitter-handle {
	cursor: col-resize;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	z-index: 9999;
}

.splitter-handle:hover {
	background: #eee;
}

.stretch .section-header {
	position: absolute;
	width: 100%;
	padding-top: 2px;
}

.stretch .section-header h5,
.stretch .section-header button {
	display: inline-block;
}

.stretch .section-content {
	box-sizing: border-box;
	height: 100%;
	padding-top: 30px;
}

.stretch.preview-panel .section-content {
	padding: 30px 10px 10px;
}

.aui-navgroup .aui-nav .active {
	font-weight: bold;
}
/* ----- End Main content ----- */

/* ----- Output ----- */
#output-frame {
	border: none;
	width: 100%;
	height: 100%;
}
/* ----- End Output ----- */

/* ----- Footer ----- */
.aui-theme-default #footer {
	padding-bottom: 35px;
	text-align: center;
	background-size: 30px;
	background-position: 50% 100%;
	position: absolute;
	bottom: 0;
	width: 100%;
}
/* ----- End Footer ----- */

#hidden-stuff #url-inline-dialog{
	display: none;
}

#publish-button{
	width: 120px;
}

