<!doctype html>
<html ng-app="sandbox">
	<head>
		<link rel="stylesheet" type="text/css" href="static/aui/css/aui-all.css">
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
        <title>Atlassian Sandbox 2.0</title>
        <script src="static/js/libraries/angular.js"></script>
	</head>
	<body
        ng-controller="MainCtrl"
        class="aui-theme-default aui-bin-fiddle"
        >
		<header id="header" role="banner">
            <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
                <div class="aui-header-primary">
                    <h1 id="logo" class="aui-header-logo aui-header-logo-dt">
                        <a href="index.html"><span class="aui-header-logo-device">Atlassian Sandbox 2.0</span></a>
                    </h1>
                    <ul class="aui-nav" id="snippet-buttons">
                        <li>
                            <button class="aui-button aui-button-primary aui-style"
                                ng-click="reset()"
                                >New</button>
                        </li>
                        <li>
                            <button id="save-button" 
                                class="aui-button aui-button-primary aui-style"
                                ng-click="save()"
                                >Save</button>
                            <span class="aui-lozenge aui-lozenge-complete aui-lozenge-subtle"
                                style="display: none">Saving...</span>
                        </li>
                    </ul>
                    <div class="right-toolbar">
                        <ul class="aui-nav">
                            <li>
                            <button class="aui-button aui-button-primary aui-style"
                                    ng-click="publish()"
                                    ng-controller="SaveCtrl"
                                    ng-class="{hidden: !canSave}"
                                    id="publish-button"
                                    >Publish</button>
                            </li>
                            <li>
                                <a id="help-menu-link" class="aui-nav-link aui-dropdown2-trigger" href="#" aria-haspopup="true" aria-owns="help-menu-link-content" title="Help">
                                    <span class="aui-icon aui-icon-small aui-iconfont-help">Help</span><span class="aui-icon-dropdown"></span>
                                </a>
                             </li>
                        </ul>
                        <nav id="help-menu-link-content" class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" aria-hidden="true" data-dropdown2-alignment="left">
                            <div class="aui-dropdown2-section">
                                <ul id="help-menu-link-leading" class="aui-list-truncate section-leading first">
                                    <li>
                                        <a id="keyboard-shortcuts-link" href="#" class="active" title="View available keyboard shortcuts ( Type '?' )">
                                            Keyboard Shortcuts
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </nav>
        </header>
        <div ng-controller="TogglePanelCtrl" id="toggle-panel-controller">
        	<div id="toggle-bar" class="aui-toolbar2">
                <div class="aui-toolbar-2-inner">
                    <div class="aui-toolbar2-primary">
                        <div class="aui-buttons">
                            <button ng-repeat="panel in panels"
                                ng-click="togglePanel(panel.id)"
                                ng-class="{active: panel.displayed}"
                                class="aui-button"
                                >{{panel.title}}</button>
                        </div>
                    </div>
                    <div class="aui-toolbar2-secondary right-toolbar">
                        <div ng-controller="ThemeSwitcherCtrl">
                            <button id="theme-switcher-link" class="aui-button aui-nav-link aui-dropdown2-trigger" href="#" aria-haspopup="true" aria-owns="theme-switcher-content" title="Help">
                                <span>Theme: {{currentTheme.title}}</span><span class="aui-icon-dropdown"></span>
                            </button>
                            <nav id="theme-switcher-content" class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" aria-hidden="true" data-dropdown2-alignment="left">
                                <div class="aui-dropdown2-section">
                                    <ul id="theme-switcher-link-leading" class="aui-list-truncate section-leading first">
                                        <li ng-repeat="theme in themes"
                                            ng-click="switchToTheme(theme)">
                                            <a>{{theme.title}}</a>
                                            <span 
                                                class="aui-icon aui-icon-small aui-iconfont-success"
                                                ng-class="{hidden: !isCurrentTheme(theme)}">Selected</span>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <section id="content" role="main">
                <div id="content-container">
                    <div class="stretch-panels">  
                        <!-- LHS Navigation -->
                        <section class="stretch left-nav"
                            ng-class="{hidden: !getPanelById('library').displayed}"
                            ng-style="getPanelById('library')">
                            <div class="aui-page-panel-nav"
                                ng-class="{hidden: !getPanelById('library').displayed}"
                                >
                                <div class="aui-item aui-item-navgroup">
                                    <div>
                                        <nav class="aui-navgroup">
                                            <div class="aui-navgroup-inner">
                                                <ul id="components-bar" class="aui-nav aui-nav-vertical"
                                                    ng-controller="ComponentPanelCtrl"
                                                    >
                                                    <li><header class="aui-nav-heading">Library</header></li>
                                                    <li ng-repeat="component in components"
                                                        ng-click="addComponentToEditor(component.id)"
                                                        >
                                                        <a href="#" title="{{component.title}}">{{component.title}}</a>
                                                    </li>
                                                </ul>
                                                <ul id="workspace-bar" class="aui-nav aui-nav-vertical"
                                                    ng-controller="WorkspacePanelCtrl"
                                                    >
                                                    <li><header class="aui-nav-heading">Clipboard</header></li>
                                                    <li ng-repeat="snippet in getSnippets()"
                                                        ng-click="openSnippet(snippet.id)"
                                                        >
                                                        <a href="#"
                                                            title="{{snippet.title}}"
                                                            ng-class="{active: isSnippetOpen(snippet.id)}"
                                                            >{{snippet.title}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                                <div class="splitter-handle"></div>
                            </div>
                        </section>

                        <!--  ALL the main content stuff  -->
                        <!-- HTML -->
                        <section class="stretch html-panel"
                            ng-class="{hidden: !getPanelById('html').displayed}"
                            ng-style="getPanelById('html')"
                            >
                            <div class="section-header">
                                <h5>HTML</h5>
                            </div>
                            <div class="section-content">
                                <div id="html-editor" class="ace-editor"></div>
                            </div>
                            <div class="splitter-handle"></div>
                        </section>

                        <!-- JS -->
                        <section class="stretch js-panel"
                            ng-class="{hidden: !getPanelById('js').displayed}"
                            ng-style="getPanelById('js')"
                            >
                            <div class="section-header">
                                <h5>JavaScript</h5>
                            </div>
                            <div class="section-content">
                                <div id="js-editor" class="ace-editor"></div>
                            </div>
                            <div class="splitter-handle"></div>
                        </section>                            

                        <!-- CSS -->
                        <section class="stretch css-panel"
                            ng-class="{hidden: !getPanelById('css').displayed}"
                            ng-style="getPanelById('css')"
                            >
                            <div class="section-header">
                                <h5>CSS</h5>
                            </div>
                            <div class="section-content">
                                <div id="css-editor" class="ace-editor"></div>
                            </div>
                            <div class="splitter-handle"></div>
                        </section>
                        <!-- Preview -->
                        <section class="stretch preview-panel"
                            ng-controller="OutputCtrl"
                            ng-class="{hidden: !getPanelById('output').displayed}"
                            ng-style="getPanelById('output')"
                            >
                            <div class="section-header">
                                <h5>Preview</h5>
                                <a class="aui-button-link" ng-click="outputAndRunJs()">Run with JS</a>
                            </div>
                            <div id="preview-content" class="section-content">
                                <iframe id="output-frame"></iframe>
                            </div>
                        </section>                        
                    </div>
                </div>
            </section>
        </div>

        <div id="hidden-stuff">
            <div type="text/template" id="url-inline-dialog">
                    <span>Share this code with other people using this link:</span>
                    <form class="aui">
                        <input class="text long-field" type="text" name="publishURL" ng-model="publishURL">
                    </form>
            </div>
        </div>

		<script src="static/js/libraries/ace.js"></script>
        <script src="static/js/libraries/underscore.js"></script>
		<script src="static/aui/js/aui-all.js"></script>
        <script src="static/js/MainModule.js"></script>
        <script src="static/js/Template.js"></script>
        <script src="static/template/registerall.js"></script>
        <script src="static/js/Editors.js"></script>
        <script src="static/js/MainCtrl.js"></script>
        <script src="static/js/OutputCtrl.js"></script>
        <script src="static/js/TogglePanelCtrl.js"></script>
        <script src="static/js/ComponentPanelCtrl.js"></script>
        <script src="static/js/WorkspacePanelCtrl.js"></script>
        <script src="static/js/SaveCtrl.js"></script>
        <script src="static/js/ThemeSwitcherCtrl.js"></script>
		<script src="static/js/main.js"></script>
	</body>
</html>